<!DOCTYPE html>
<html lang="bg" data-layout-decorate="~{fragments/layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Админ</title>


</head>

<body>

	<div class="right_col" role="main" data-layout-fragment="content">
		<!-- page content -->
	

<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-bars"></i> Ръководство <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" style="display: block;">

                    <div class="col-xs-3">
                      <!-- required for floating -->
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs tabs-left">
                        <li class="active"><a href="#view" data-toggle="tab" aria-expanded="true">За софтуера</a>
                        </li>
                          <li class=""><a href="#home" data-toggle="tab" aria-expanded="false">Основни компоненти</a>
                        </li>
                        <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Мениджър</a>
                        </li>
                        <li class=""><a href="#messages" data-toggle="tab" aria-expanded="false">Служител</a>
                      
                      </ul>
                    </div>

                    <div class="col-xs-9">
                      <!-- Tab panes -->
                      <div class="tab-content">
                      
                      <div class="tab-pane active " id="view">
                       
                         <p class="lead">  За софтуера</p>
                          <p>"Създаването на стойност във всяка компания е основано на бизнес процесите, протичащи в нея." </p>

<p> 

 	Точно за това създадохме Bachi. Това е софтуер за управление на работата, който Ви дава възможност лесно, бързо да контролирате бизнес процесите във Вашата фирма. Чрез тази система Вие получавате: <br> <br>
<ul> 
	<li> Ясна представа, за това какво се извършва във фирмата по всяко време</li>
	<li> Ясна представа, какви задачи трябва да се постигнат по всяко време</li>
	<li> Мениджърът винаги има ясна представа какво се случва във фирмата</li>
	<li> Пълна история на процесите, които протичат във Вашата фирма</li>
	<li> Гъвкавост при използването на системата. Ограничението е само да имате достъп до интернет.</li>
	
</ul> 	
	Вследствие на това, че платформата е изградена да работи на различни устройства, Вие може по всяко време да я ползвате независимо дали сте на компютър или използвате Вашият "Умен" телефон. Това са само част от добрите страни на софтуера, за да разберете за всички, трябва да изпробвате софтуера.

 	Това ръководство за потребителя е написано с намерението да помогне на новите потребители да се запознаят с всички функции в приложението и като справка за опитни потребители. Bachi е проектиран да бъде лесен за употреба и да Ви помага, но ако имате въпроси, за които не можете да намерите отговорите в това ръководство моля, свържете се с нас.
<br>
<br>
Бъдете страхотни и продуктивни!
</p>
                        </div>
                        
                        <div class="tab-pane " id="home">
                          <p class="lead">Основни компоненти</p>
                          <p>Меню за бърза и лесна навигация.

 	Чрез него (фигура  1) Вие може бързо и лесно да достигнете и реализирате желаната от Вас цел. Само с няколко клика на мишката. Също така менюто е проектирано да се минимизира, това може да постигнете, като кликнете върху таба най-горе в дясно (фигура 3)  Така може да получите допълнително пространство при нужда да разгледате някои данни по-подробно.
<br><br>

<img src="/images/menu1.png" alt="" style=" width: 30%; height: 500px;"> <img src="/images/menu2.png" alt="" style="width: 30%; height: 500px;">
<br>

фигура  1 Изгледи меню
<br> <br>


<img src="/images/menu-icon.png" alt="">
<br>
фигура  2 Бутон за промяна на менюто
<br><br>
 	

<h2>  Вашият профил </h2>
<br>
 	В горният десен ъгъл на приложението имате бърз достъп до вашия профил (фигура  3). От там можете да прегледате, редактирате профила си. Както и да потърсите отговор на даден въпрос именно в това ръководство. Също и бутона излез, чрез него може да се предпазите от „злонамерени колеги“. Но дори и да забравите  да се отпишете от профила си, системата го прави автоматично за Вас след, като не сте бил активен известно време. Така че може да сте спокойни, ако все пак забравите да излезете.
<br>


<img src="/images/menu1-profile.png" alt="">
<br>
фигура  3 Навигация на работа с профил
<br> <br>
  	В страницата за вашия профил, можете по всяко време да прегледате вашата активност. Данните са презентирани чрез графика (фигура  4). Чрез бутоните в горния десен ъгъл можете, да промените визуализацията на начина, по който графиката се визуализира. Можете да обновите графиката, както и да изтеглите снимка на нея.
<br>

<img src="/images/graph.png" alt="" style="
    width: 100%;
">
<br>
фигура  4 Графика изработени часове


 <br><br>
<h2> Изглед на текущата отворена страница </h2>
<br>
 	
 	В централната част на приложението се визуализират Вашите текущи отворени страници. Тук ще се визуализират всички форми за добавяне или преглеждане на данни. Тази част от системата заема значително пространство от изгледа, по този начин вие можете да прегледате повече информация. 
 <br>
<h2> Мобилна версия </h2>
<br>
 	Дори да отворите системата, чрез Вашият телефон Вие пак ще можете да преглеждате лесно данните, защото изгледа с информация се визуализира на цялата ширина на Вашето устройство.

От мобилната версия можете да достъпите менюто, чрез кликване върху иконата в горния ляв ъгъл. Така ще Ви се отвори меню с основните функционалности на системата. След като селектирате едно от тях, ще Ви се визуализират всички налични операции. На (фигура  6) може да видите отварянето на меню и селектирането на опция начало.

<br>
<img src="/images/menu1-open.png" alt="" >
<br>
фигура  5 Отваряне на меню от мобилната версия
</p>
                        </div>
                        <div class="tab-pane" id="profile">
                        <p class="lead">Мениджър</p>
                        <p>
                        Когато сте в системата, като потребител „Мениджър“, Вие можете да: <br>
<ul> 
<li>Преглеждате всички проекти</li>
<li>Преглеждате всички задачи</li>
<li>Преглеждате всички отчети по задачи</li>
<li>Редактирате задача </li>
<li>Редактирате потребител</li>
<li>Добавяте изработено по задача – това</li>
<li>Изглед с всички ваши проекти</li>
<li>Изглед с всички задачи</li>
<li>Добавяте проекти</li>
<li>Добавяте задачи</li>
<li>Добавяте служители</li>
<li>Добавяте и преглаждате вашите събития</li>
<li>Добавяне на запитване за помощ</li>
<li>Отговаряне на запитване за помощ</li>
<li>Да следите Вашата активност</li> 
<li>Преглеждате историята на всички задачи</li>
<li>Да преглеждате Вашите последни действия и проекти</li>
</ul>
 	Можете да видите данните от графиката по дадена задача, като задържите мишката върху съответния период от  нея. Показване на средна стойност на графиката за отделените часове и процент на завършване на задачата. Над графиката има легенда, която пояснява информацията от графиката.

 	Всички функции може да намерите лесно, чрез менюто от лявата страна. При въвеждане на нова информация в случай на грешка ще Ви се появи пояснителен червен надпис. Надписите с грешки при въвеждането на данни ще Ви помогнат да съхранявате точна информация всеки път.
                        
                        </p>
                        
                        </div>
                        <div class="tab-pane" id="messages">
                        <p class="lead">Служител</p>
                        <p>Когато сте в системата, като потребител „Служител“, Вие можете да: <br> <br>
<ul> 
<li>	Преглеждате Вашите отчети по задачи </li>
<li>	Добавяне на изработено по задача  </li>
<li>	Редактирате на Вашите данни</li>
<li>	Преглеждате Вашите задачи</li>
<li>	Добавяте и преглаждате вашите събития</li>
<li>	Добавяне на запитване за помощ</li>
<li>	Отговаряне на запитване за помощ</li>
<li>	Преглеждате историята на отчитането на вашите задачи</li>
<li>	Да следите Вашата активност</li>
<li>	Да преглеждате Вашите последни действия и проекти</li>
</ul>
 	Всички функции може да намерите лесно, чрез менюто от лявата страна. При въвеждане на нова информация в случай на грешка ще Ви се появи пояснителен червен надпис. Така чрез няколко клика, Вие можете да проверите дали се справяте добре. Също така можете лесно да поискате помощ от Ваш колега. 
                         </p>
                        
                        </div>
               
                      </div>
                    </div>

                    <div class="clearfix"></div>

                  </div>
                </div>
              </div>
					<!-- /page content -->
				</div>
		
</body>
</html>
