<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">



<link href="/css/custom.min.css" rel="stylesheet">

</head>
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu"
	data-th-fragment="sidebar-menu">
	<div class="menu_section">

		<h3>Меню</h3>
		<ul class="nav side-menu">
			<li><a><i class="/admin/index"></i> Начало <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="/admin/index">Изглед прокети</a></li>
					<li><a href="/admin/index-reports">Изглед отчети</a></li>
				</ul></li>
			<li><a><i class="fa fa-edit"></i> Прокети <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="/admin/projects-view">Покажи всички</a></li>
					<li><a href="/admin/project">Създай нов</a></li>
				
					
					<!--  <li><a href="#form_upload.html">Form Upload</a></li> -->
					<!--  <li><a href="#form_buttons.html">Form Buttons</a></li> -->
				</ul></li>
		
			<li><a><i class="fa fa-table"></i> Събития <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="/admin/events/mine">Моите събития</a></li>
					<li><a href="/admin/events/add">Добави събитие</a></li>
				</ul></li>
			<li><a><i class="fa fa-bar-chart-o"></i> Задачи <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
				<li><a href="/admin/task/view-all">Всички</a></li>
					<li><a href="/admin/task/add">Създай</a></li>
					
					<!--  <li><a href="#morisjs.html">Moris JS</a></li>
                    <li><a href="#echarts.html">ECharts</a></li>
                    <li><a href="#other_charts.html">Other Charts</a></li> -->
				</ul></li>
			<li><a><i class="fa fa-clone"></i> Служители <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="/admin/employee/view">Всички</a></li>
					<li><a href="/admin/employee">Организиране</a></li>
				</ul></li>
		</ul>
	</div>
	<div class="menu_section">
		<h3></h3>
		<ul class="nav side-menu">
	
			<li><a><i class="fa fa-windows"></i> Помощ <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="/admin/support/new-ticket">Ново съобщение</a></li>
					<li><a href="/admin/support/view">Назначени към мен</a></li>
				
                     
				</ul>     
				</ul>
	</div>

</div>